In [1]:
!wget -nc https://github.com/rapidsai/notebooks-extended/raw/master/utils/rapids-colab.sh
!bash rapids-colab.sh

import sys, os

sys.path.append('/usr/local/lib/python3.6/site-packages/')
os.environ['NUMBAPRO_NVVM'] = '/usr/local/cuda/nvvm/lib64/libnvvm.so'
os.environ['NUMBAPRO_LIBDEVICE'] = '/usr/local/cuda/nvvm/libdevice/'

--2020-01-23 00:26:55--  https://github.com/rapidsai/notebooks-extended/raw/master/utils/rapids-colab.sh
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/rapidsai/notebooks-contrib/raw/master/utils/rapids-colab.sh [following]
--2020-01-23 00:27:00--  https://github.com/rapidsai/notebooks-contrib/raw/master/utils/rapids-colab.sh
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/rapidsai/notebooks-contrib/master/utils/rapids-colab.sh [following]
--2020-01-23 00:27:00--  https://raw.githubusercontent.com/rapidsai/notebooks-contrib/master/utils/rapids-colab.sh
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5287 (5.2K) [text/plain]
Saving to: ‘rapids-colab.sh’

rapids-colab.sh     100%[===================>]   5.16K  --.-KB/s    in 0s

2020-01-23 00:27:01 (119 MB/s) - ‘rapids-colab.sh’ saved [5287/5287]

PLEASE READ
********************************************************************************************************
Colab v0.11+ Migration Notice:

There has been a NECESSARY Colab script code change for VERSION 0.11+ that MAY REQUIRE an update how you install RAPIDS into Colab!
Not all Colab notebooks are updated (like personal Colabs) and while the script will install RAPIDS correctly,
a neccessary script to update pyarrow to v0.15.x to be compatible with RAPIDS v0.11+ may not run, and your RAPIDS instance
will BREAK

Please enter in the box your desired RAPIDS version (ex: '0.10' or '0.11', between 0.9 to 0.11, without the quotes) and hit Enter.
0.10
You may not have to change anything.  All versions of our script should work with this version of Colab
--2020-01-23 00:27:08--  https://github.com/rapidsai/notebooks-contrib/raw/master/utils/env-check.py
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/rapidsai/notebooks-contrib/master/utils/env-check.py [following]
--2020-01-23 00:27:09--  https://raw.githubusercontent.com/rapidsai/notebooks-contrib/master/utils/env-check.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 918 [text/plain]
Saving to: ‘env-check.py’

env-check.py        100%[===================>]     918  --.-KB/s    in 0s

2020-01-23 00:27:09 (172 MB/s) - ‘env-check.py’ saved [918/918]

Checking for GPU type:
***********************************************************************
Woo! Your instance has the right kind of GPU, a 'Tesla T4'!
***********************************************************************

Removing conflicting packages, will replace with RAPIDS compatible versions
Uninstalling xgboost-0.90:
  Successfully uninstalled xgboost-0.90
Uninstalling dask-2.9.1:
  Successfully uninstalled dask-2.9.1
Uninstalling distributed-1.25.3:
  Successfully uninstalled distributed-1.25.3
Installing conda
--2020-01-23 00:27:19--  https://repo.continuum.io/miniconda/Miniconda3-4.5.4-Linux-x86_64.sh
Resolving repo.continuum.io (repo.continuum.io)... 104.18.200.79, 104.18.201.79, 2606:4700::6812:c84f, ...
Connecting to repo.continuum.io (repo.continuum.io)|104.18.200.79|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 58468498 (56M) [application/x-sh]
Saving to: ‘Miniconda3-4.5.4-Linux-x86_64.sh’

Miniconda3-4.5.4-Li 100%[===================>]  55.76M   104MB/s    in 0.5s

2020-01-23 00:27:19 (104 MB/s) - ‘Miniconda3-4.5.4-Linux-x86_64.sh’ saved [58468498/58468498]

PREFIX=/usr/local
installing: python-3.6.5-hc3d631a_2 ...
Python 3.6.5 :: Anaconda, Inc.
installing: ca-certificates-2018.03.07-0 ...
installing: conda-env-2.6.0-h36134e3_1 ...
installing: libgcc-ng-7.2.0-hdf63c60_3 ...
installing: libstdcxx-ng-7.2.0-hdf63c60_3 ...
installing: libffi-3.2.1-hd88cf55_4 ...
installing: ncurses-6.1-hf484d3e_0 ...
installing: openssl-1.0.2o-h20670df_0 ...
installing: tk-8.6.7-hc745277_3 ...
installing: xz-5.2.4-h14c3975_4 ...
installing: yaml-0.1.7-had09818_2 ...
installing: zlib-1.2.11-ha838bed_2 ...
installing: libedit-3.1.20170329-h6b74fdf_2 ...
installing: readline-7.0-ha6073c6_4 ...
installing: sqlite-3.23.1-he433501_0 ...
installing: asn1crypto-0.24.0-py36_0 ...
installing: certifi-2018.4.16-py36_0 ...
installing: chardet-3.0.4-py36h0f667ec_1 ...
installing: idna-2.6-py36h82fb2a8_1 ...
installing: pycosat-0.6.3-py36h0a5515d_0 ...
installing: pycparser-2.18-py36hf9f622e_1 ...
installing: pysocks-1.6.8-py36_0 ...
installing: ruamel_yaml-0.15.37-py36h14c3975_2 ...
installing: six-1.11.0-py36h372c433_1 ...
installing: cffi-1.11.5-py36h9745a5d_0 ...
installing: setuptools-39.2.0-py36_0 ...
installing: cryptography-2.2.2-py36h14c3975_0 ...
installing: wheel-0.31.1-py36_0 ...
installing: pip-10.0.1-py36_0 ...
installing: pyopenssl-18.0.0-py36_0 ...
installing: urllib3-1.22-py36hbe7ace6_0 ...
installing: requests-2.18.4-py36he2e5f8d_1 ...
installing: conda-4.5.4-py36_0 ...
installation finished.
WARNING:
    You currently have a PYTHONPATH environment variable set. This may cause
    unexpected behavior when running the Python interpreter in Miniconda3.
    For best results, please verify that your PYTHONPATH only points to
    directories of packages that are compatible with the Python interpreter
    in Miniconda3: /usr/local
Installing RAPIDS 0.10 packages from the stable release channel
Please standby, this will take a few minutes...
Solving environment: - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.4
  latest version: 4.8.1

Please update conda by running

    $ conda update -n base conda



## Package Plan ##

  environment location: /usr/local

  added / updated specs:
    - cudatoolkit=10.1
    - cudf=0.10
    - cugraph
    - cuml
    - cuspatial
    - gcsfs
    - pynvml
    - python=3.6


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    lz4-c-1.8.3                |    he1b5a44_1001         187 KB  conda-forge
    libffi-3.2.1               |    he1b5a44_1006          46 KB  conda-forge
    pynvml-8.0.4               |             py_0          31 KB  conda-forge
    cffi-1.13.2                |   py36h8022711_0         220 KB  conda-forge
    oauthlib-3.0.1             |             py_0          82 KB  conda-forge
    python-3.6.7               |    h357f687_1006        34.6 MB  conda-forge
    libcuspatial-0.10.0        |       cuda10.1_0         1.6 MB  rapidsai
    thrift-cpp-0.12.0          |    hf3afdfd_1004         2.4 MB  conda-forge
    cryptography-2.8           |   py36h72c5cf5_1         616 KB  conda-forge
    grpc-cpp-1.25.0            |       h18db393_0         5.1 MB  conda-forge
    gcsfs-0.6.0                |             py_0          19 KB  conda-forge
    google-auth-1.10.0         |             py_1          47 KB  conda-forge
    c-ares-1.15.0              |    h516909a_1001         100 KB  conda-forge
    google-auth-oauthlib-0.4.1 |             py_1          18 KB  conda-forge
    python-dateutil-2.8.1      |             py_0         220 KB  conda-forge
    six-1.14.0                 |           py36_0          23 KB  conda-forge
    tk-8.6.10                  |       hed695b0_0         3.2 MB  conda-forge
    zlib-1.2.11                |    h516909a_1006         105 KB  conda-forge
    xz-5.2.4                   |    h14c3975_1001         366 KB  conda-forge
    llvmlite-0.31.0            |   py36h8b12597_0         337 KB  conda-forge
    pysocks-1.7.1              |           py36_0          27 KB  conda-forge
    certifi-2019.11.28         |           py36_0         149 KB  conda-forge
    libgfortran-ng-7.3.0       |       hdf63c60_4         1.7 MB  conda-forge
    rsa-4.0                    |             py_0          27 KB  conda-forge
    fsspec-0.6.2               |             py_0          46 KB  conda-forge
    nccl-2.4.6.1               |       cuda10.1_0        66.9 MB  nvidia
    setuptools-45.1.0          |           py36_0         642 KB  conda-forge
    libllvm8-8.0.1             |       hc9558a2_0        23.2 MB  conda-forge
    snappy-1.1.7               |    he1b5a44_1003          39 KB  conda-forge
    numba-0.47.0               |   py36hb3f55d8_0         3.4 MB  conda-forge
    libprotobuf-3.8.0          |       h8b12597_0         4.7 MB  conda-forge
    cuspatial-0.10.0           |           py36_0         456 KB  rapidsai
    boost-cpp-1.70.0           |       h8e57a91_2        21.1 MB  conda-forge
    brotli-1.0.7               |    he1b5a44_1000         1.0 MB  conda-forge
    sqlite-3.30.1              |       hcee41ef_0         2.0 MB  conda-forge
    libblas-3.8.0              |      14_openblas          10 KB  conda-forge
    libcuml-0.10.0             |       cuda10.1_0        40.6 MB  rapidsai
    chardet-3.0.4              |        py36_1003         190 KB  conda-forge
    readline-8.0               |       hf8c457e_0         441 KB  conda-forge
    libnvstrings-0.10.0        |       cuda10.1_0        25.1 MB  rapidsai
    pyjwt-1.7.1                |             py_0          17 KB  conda-forge
    re2-2020.01.01             |       he1b5a44_0         422 KB  conda-forge
    libevent-2.1.10            |       h72c5cf5_0         1.3 MB  conda-forge
    fastavro-0.22.9            |   py36h516909a_0         409 KB  conda-forge
    libgcc-ng-9.2.0            |       h24d8f2e_2         8.2 MB  conda-forge
    pyopenssl-19.1.0           |           py36_0          83 KB  conda-forge
    libopenblas-0.3.7          |       h5ec1e0e_6         7.6 MB  conda-forge
    libcudf-0.10.0             |       cuda10.1_0        32.3 MB  rapidsai
    libcblas-3.8.0             |      14_openblas          10 KB  conda-forge
    rmm-0.10.0                 |           py36_0         135 KB  rapidsai
    ca-certificates-2019.11.28 |       hecc5488_0         145 KB  conda-forge
    _openmp_mutex-4.5          |            0_gnu         435 KB  conda-forge
    cudf-0.10.0                |           py36_0         7.2 MB  rapidsai
    cudatoolkit-10.1.243       |       h6bb024c_0       513.2 MB  nvidia
    gflags-2.2.2               |    he1b5a44_1002         175 KB  conda-forge
    nvstrings-0.10.0           |           py36_0         126 KB  rapidsai
    cachetools-3.1.1           |             py_0          11 KB  conda-forge
    pip-20.0.1                 |           py36_0         1.9 MB  conda-forge
    liblapack-3.8.0            |      14_openblas          10 KB  conda-forge
    pyarrow-0.14.1             |   py36h8b68381_2         2.8 MB  conda-forge
    dlpack-0.2                 |       he1b5a44_1          13 KB  conda-forge
    bzip2-1.0.8                |       h516909a_2         396 KB  conda-forge
    zstd-1.4.0                 |       h3b9ef0a_0         928 KB  conda-forge
    ncurses-6.1                |    hf484d3e_1002         1.3 MB  conda-forge
    urllib3-1.25.7             |           py36_0         160 KB  conda-forge
    idna-2.8                   |        py36_1000         132 KB  conda-forge
    cython-0.29.14             |   py36he1b5a44_0         2.2 MB  conda-forge
    requests-2.22.0            |           py36_1          84 KB  conda-forge
    icu-64.2                   |       he1b5a44_1        12.6 MB  conda-forge
    librmm-0.10.0              |       cuda10.1_0          50 KB  rapidsai
    cugraph-0.10.0             |           py36_0         1.7 MB  rapidsai
    glog-0.4.0                 |       he1b5a44_1         104 KB  conda-forge
    pyasn1-0.4.8               |             py_0          53 KB  conda-forge
    uriparser-0.9.3            |       he1b5a44_1          49 KB  conda-forge
    pycparser-2.19             |           py36_1         173 KB  conda-forge
    libcumlprims-0.10.0        |       cuda10.1_0         4.2 MB  nvidia
    numpy-1.17.5               |   py36h95a1406_0         5.2 MB  conda-forge
    openssl-1.1.1d             |       h516909a_0         2.1 MB  conda-forge
    libcugraph-0.10.0          |       cuda10.1_0        16.1 MB  rapidsai
    double-conversion-3.1.5    |       he1b5a44_2          85 KB  conda-forge
    arrow-cpp-0.14.1           |   py36h6b969ab_1        17.3 MB  conda-forge
    wheel-0.33.6               |           py36_0          35 KB  conda-forge
    pandas-0.24.2              |   py36hb3f55d8_1        11.1 MB  conda-forge
    pytz-2019.3                |             py_0         237 KB  conda-forge
    libgomp-9.2.0              |       h24d8f2e_2         816 KB  conda-forge
    libstdcxx-ng-9.2.0         |       hdf63c60_2         4.5 MB  conda-forge
    requests-oauthlib-1.2.0    |             py_0          19 KB  conda-forge
    decorator-4.4.1            |             py_0          11 KB  conda-forge
    cuml-0.10.0                |  cuda10.1_py36_0         6.6 MB  rapidsai
    blinker-1.4                |             py_1          13 KB  conda-forge
    _libgcc_mutex-0.1          |      conda_forge           3 KB  conda-forge
    pyasn1-modules-0.2.7       |             py_0          60 KB  conda-forge
    parquet-cpp-1.5.1          |                2           3 KB  conda-forge
    ------------------------------------------------------------
                                           Total:       905.7 MB

The following NEW packages will be INSTALLED:

    _libgcc_mutex:        0.1-conda_forge        conda-forge
    _openmp_mutex:        4.5-0_gnu              conda-forge
    arrow-cpp:            0.14.1-py36h6b969ab_1  conda-forge
    blinker:              1.4-py_1               conda-forge
    boost-cpp:            1.70.0-h8e57a91_2      conda-forge
    brotli:               1.0.7-he1b5a44_1000    conda-forge
    bzip2:                1.0.8-h516909a_2       conda-forge
    c-ares:               1.15.0-h516909a_1001   conda-forge
    cachetools:           3.1.1-py_0             conda-forge
    cudatoolkit:          10.1.243-h6bb024c_0    nvidia
    cudf:                 0.10.0-py36_0          rapidsai
    cugraph:              0.10.0-py36_0          rapidsai
    cuml:                 0.10.0-cuda10.1_py36_0 rapidsai
    cuspatial:            0.10.0-py36_0          rapidsai
    cython:               0.29.14-py36he1b5a44_0 conda-forge
    decorator:            4.4.1-py_0             conda-forge
    dlpack:               0.2-he1b5a44_1         conda-forge
    double-conversion:    3.1.5-he1b5a44_2       conda-forge
    fastavro:             0.22.9-py36h516909a_0  conda-forge
    fsspec:               0.6.2-py_0             conda-forge
    gcsfs:                0.6.0-py_0             conda-forge
    gflags:               2.2.2-he1b5a44_1002    conda-forge
    glog:                 0.4.0-he1b5a44_1       conda-forge
    google-auth:          1.10.0-py_1            conda-forge
    google-auth-oauthlib: 0.4.1-py_1             conda-forge
    grpc-cpp:             1.25.0-h18db393_0      conda-forge
    icu:                  64.2-he1b5a44_1        conda-forge
    libblas:              3.8.0-14_openblas      conda-forge
    libcblas:             3.8.0-14_openblas      conda-forge
    libcudf:              0.10.0-cuda10.1_0      rapidsai
    libcugraph:           0.10.0-cuda10.1_0      rapidsai
    libcuml:              0.10.0-cuda10.1_0      rapidsai
    libcumlprims:         0.10.0-cuda10.1_0      nvidia
    libcuspatial:         0.10.0-cuda10.1_0      rapidsai
    libevent:             2.1.10-h72c5cf5_0      conda-forge
    libgfortran-ng:       7.3.0-hdf63c60_4       conda-forge
    libgomp:              9.2.0-h24d8f2e_2       conda-forge
    liblapack:            3.8.0-14_openblas      conda-forge
    libllvm8:             8.0.1-hc9558a2_0       conda-forge
    libnvstrings:         0.10.0-cuda10.1_0      rapidsai
    libopenblas:          0.3.7-h5ec1e0e_6       conda-forge

# **UDFs**

cuDF’s DataFrame class has two primary methods that let users run custom Python functions on GPUs: `apply_rows` and `apply_chunks`. In this tutorial, we’ll walk through how to use `apply_rows` and `apply_chunks` to create your own UDFs and show how you can implement a GPU-accelerated windowing function. At the end, we'll also walk through a more advanced example of applying a user defined function on a grouped DataFrame (using `apply_grouped`).

## **apply_rows**

`apply_rows` processes each of the DataFrame rows independently in parallel. Under the hood, the `apply_rows` method will optimally divide the long columns into chunks, and assign chunks into different GPU blocks for parallel computation. 

In order to use `apply_rows`, we need to write a kernel function. A kernel function is a function that will be executed on each row of the DataFrame set the output value for each row. **The execution order of rows is arbitrary, so each execution of the function MUST be independent of other execution.**

How does this work? User defined functions with cuDF rely on CUDA under the hood. Exploring CUDA and GPU architecture in-depth is out of scope for this tutorial. But, at a very high level, in cuDF's user defined functions:


- Compute is spread across multiple "blocks", which have access to both global memory but also their own in-block memory 
- Within each block, many "threads" operate independently and can quickly access data in their block-specific shared memory 


As a result, the loop in the example function below resembles serial code, but executes in parallel in multiple threads on the GPU. When `kernel` is invoked, the function arguments corresponding to the input/output are strided so as to improve GPU parallelism. The kernel function is compiled to the GPU using `numba.cuda`, so the kernel function must only use Python features/functions that are [supported](https://numba.pydata.org/numba-doc/dev/cuda/cudapysupported.html) by Numba for CUDA.

A kernel function takes the form

```python
def kernel(in1, in2, in3, ..., out1, out2, ..., kwarg1, kwarg2, ...):
    for i, (x, y, z, ...) in enumerate(zip(in1, in2, in3, ...)):
        out1[i] = ...
        out2[i] = ...
```

`in1, in2, in3, ...` are the input columns. `out1, out2, ...` are the output columns. The kernel function should not return a result. Instead, output columns are passed as arguments and the result is written to them. Each thread writes a result to a specific index in the output column, which is why write `out1[i] = ...`.

Additional keyword arguments can be passed (`kwarg1, kwarg2, ...`). Inside the kernel function, [standard numba.cuda attributes](https://numba.pydata.org/numba-doc/dev/cuda/kernels.html#thread-positioning) like `numba.cuda.threadIdx` can be used to access things like the thread or block indices. We'll explain a little bit more about this below.

To execute this function on our DataFrame, we use `apply_rows`. `apply_rows` is called like:

```python
df = df.apply_rows(kernel
                   incols=['in1', 'in2', 'in3', ...],
                   outcols={'out1': np.float64, 'out2': np.int8, ...},
                   kwargs={'kwarg1': val1, 'kwarg2': val2, ...})
```

`incols` is a list of the arguments for our `kernel` function representing the columns in the DataFrame. As a result, `in1`, `in2`, etc. must match the names of columns in the DataFrame that we intend to use.

`outcols` is a dictionary mapping the output column names to their dtype. If we intend to generate two output columns, we need to `outcols` needs to contain two keys (`out1` and `out2`).

`kwargs` is a dictionary mapping the keyword argument parameters to their values. If our `kernel` function needs additional arguments contained in our DataFrame, we can pass them in here. `kwargs` can be an empty dictionary if there are no keyword arguments.

After calling `apply_rows` as above, `df` would have extra columns `out1`, `out2`, ... with the output results.

#### Example: Haversine distance

In the example below, we create a DataFrame representing pairs of latitude and longitude points. We use `apply_rows` to calculate the [Haversine distance](https://en.wikipedia.org/wiki/Haversine_formula) between two points in the input arrays.

$$
d = 2r \arcsin\left(\sqrt{\sin^2\left(\frac{\varphi_2 - \varphi_1}{2}\right) + \cos(\varphi_1) \cos(\varphi_2)\sin^2\left(\frac{\lambda_2 - \lambda_1}{2}\right)}\right)
$$

where $\varphi_1,\varphi_2$ are the latitudes and $\lambda_1,\lambda_2$ are the longitudes.

In [2]:
from math import cos, sin, asin, sqrt, pi, atan2

import time
import cudf
import numpy as np
from numba import cuda

/usr/local/lib/python3.6/dist-packages/numba/cuda/envvars.py:17: NumbaWarning:
Environment variables with the 'NUMBAPRO' prefix are deprecated and consequently ignored, found use of NUMBAPRO_NVVM=/usr/local/cuda/nvvm/lib64/libnvvm.so.

For more information about alternatives visit: ('http://numba.pydata.org/numba-doc/latest/cuda/overview.html', '#cudatoolkit-lookup')
  warnings.warn(errors.NumbaWarning(msg))
/usr/local/lib/python3.6/dist-packages/numba/cuda/envvars.py:17: NumbaWarning:
Environment variables with the 'NUMBAPRO' prefix are deprecated and consequently ignored, found use of NUMBAPRO_LIBDEVICE=/usr/local/cuda/nvvm/libdevice/.

For more information about alternatives visit: ('http://numba.pydata.org/numba-doc/latest/cuda/overview.html', '#cudatoolkit-lookup')
  warnings.warn(errors.NumbaWarning(msg))

In [0]:
np.random.seed(12)
data_length = 1000

df = cudf.DataFrame()
df['lat1'] = np.random.normal(10, 1, data_length)

In [21]:
df

          lat1
0    10.472986
1     9.318574
2    10.242439
3     8.299264
4    10.753143
..         ...
995  10.398274
996  10.729589
997  10.858051
998  10.999640
999   8.776768

[1000 rows x 1 columns]

In [0]:
df['lon1'] = np.random.normal(10, 1, data_length)
df['lat2'] = np.random.normal(10, 1, data_length)
df['lon2'] = np.random.normal(10, 1, data_length)

In [23]:
df

          lat1       lon1       lat2       lon2
0    10.472986  11.889149  10.173869   9.557545
1     9.318574  11.733839  10.237408  10.941703
2    10.242439   9.969706   8.158692   8.084421
3     8.299264  10.284300  10.376267   9.831747
4    10.753143  11.003471   9.416267  12.702623
..         ...        ...        ...        ...
995  10.398274   9.096494   9.657189  10.559591
996  10.729589   9.676270   8.895860   9.705665
997  10.858051   7.460364   9.555588  10.194337
998  10.999640  10.645792   8.202918  10.021991
999   8.776768   9.322671  10.627422   7.562933

[1000 rows x 4 columns]

In [0]:
def haversine_distance_kernel(lat1, lon1, lat2, lon2, out):
    """Haversine distance formula taken from Michael Dunn's StackOverflow post:
    https://stackoverflow.com/questions/4913349/haversine-formula-in-python-bearing-and-distance-between-two-gps-points
    """
    for i, (x_1, y_1, x_2, y_2) in enumerate(zip(lat1, lon1, lat2, lon2)):
        print('thread id:', cuda.threadIdx.x, 
              'block id:', cuda.blockIdx.x,
              'array size:', lat1.size, 
              'block threads:', cuda.blockDim.x)

        x_1 = pi/180 * x_1
        y_1 = pi/180 * y_1
        x_2 = pi/180 * x_2
        y_2 = pi/180 * y_2
        
        dlon = y_2 - y_1
        dlat = x_2 - x_1
        a = sin(dlat/2)**2 + cos(x_1) * cos(x_2) * sin(dlon/2)**2
        
        c = 2 * asin(sqrt(a)) 
        r = 6371 # Radius of earth in kilometers
        
        out[i] = c * r

In [63]:
%%time
df_hd = df.apply_rows(haversine_distance_kernel,
                   incols=['lat1', 'lon1', 'lat2', 'lon2'],
                   outcols=dict(out=np.float64),
                   kwargs=dict())

CPU times: user 444 ms, sys: 0 ns, total: 444 ms
Wall time: 451 ms

In [64]:
df_hd

          lat1       lon1       lat2       lon2         out
0    10.472986  11.889149  10.173869   9.557545  257.224127
1     9.318574  11.733839  10.237408  10.941703  134.063596
2    10.242439   9.969706   8.158692   8.084421  310.650417
3     8.299264  10.284300  10.376267   9.831747  236.229152
4    10.753143  11.003471   9.416267  12.702623  238.115297
..         ...        ...        ...        ...         ...
995  10.398274   9.096494   9.657189  10.559591  180.153664
996  10.729589   9.676270   8.895860   9.705665  203.926802
997  10.858051   7.460364   9.555588  10.194337  332.395161
998  10.999640  10.645792   8.202918  10.021991  318.411387
999   8.776768   9.322671  10.627422   7.562933  282.035554

[1000 rows x 5 columns]

Notice that we had a `print` statement in our kernel but didn't see any printed output. Print statements in kernels will only appear in terminal output; Jupyter Notebooks won't display them. We included this for this tutorial, and have copied some sample output below:

```
...
thread id: 0 block id: 4 array size: 1 block threads: 64
thread id: 1 block id: 4 array size: 1 block threads: 64
thread id: 2 block id: 4 array size: 1 block threads: 64
...
thread id: 61 block id: 4 array size: 1 block threads: 64
thread id: 62 block id: 4 array size: 1 block threads: 64
thread id: 63 block id: 4 array size: 1 block threads: 64
...
thread id: 29 block id: 0 array size: 2 block threads: 64
thread id: 30 block id: 0 array size: 2 block threads: 64
...
```

In the example above, the printed output from applying our `haversine_distance_kernel` function shows some informative information. If you were to look at the entire printed output, you'd notice a few things:

- The processing was spread across 15 CUDA blocks
- Within each block, 64 separate threads were used for computation.
- In this case, most threads in a block handled one element from the input array, but some threads have to deal with two elements, because there are 1000 rows and 960 threads (15 blocks * 64 threads per block)

`apply_rows` handled all of this for us!

#### **Exercise 1**

Modify the above example to pass in the radius of the earth `r` as a keyword argument to the kernel.

In [0]:
def haversine_distance_kernel_r(lat1, lon1, lat2, lon2, out, r):
    """Haversine distance formula taken from Michael Dunn's StackOverflow post:
    https://stackoverflow.com/questions/4913349/haversine-formula-in-python-bearing-and-distance-between-two-gps-points
    """
    for i, (x_1, y_1, x_2, y_2) in enumerate(zip(lat1, lon1, lat2, lon2)):
        print('thread id:', cuda.threadIdx.x, 
              'block id:', cuda.blockIdx.x,
              'array size:', lat1.size, 
              'block threads:', cuda.blockDim.x)

        x_1 = pi/180 * x_1
        y_1 = pi/180 * y_1
        x_2 = pi/180 * x_2
        y_2 = pi/180 * y_2
        
        dlon = y_2 - y_1
        dlat = x_2 - x_1
        a = sin(dlat/2)**2 + cos(x_1) * cos(x_2) * sin(dlon/2)**2
        
        c = 2 * asin(sqrt(a)) 
        
        out[i] = c * r

In [0]:
df_hd_r = df.apply_rows(haversine_distance_kernel_r,
                        incols=['lat1', 'lon1', 'lat2', 'lon2'],
                        outcols=dict(out=np.float64),
                        kwargs=dict(r=100))

In [34]:
df_hd_r

          lat1       lon1       lat2       lon2       out
0    10.472986  11.889149  10.173869   9.557545  4.037422
1     9.318574  11.733839  10.237408  10.941703  2.104279
2    10.242439   9.969706   8.158692   8.084421  4.876007
3     8.299264  10.284300  10.376267   9.831747  3.707882
4    10.753143  11.003471   9.416267  12.702623  3.737487
..         ...        ...        ...        ...       ...
995  10.398274   9.096494   9.657189  10.559591  2.827714
996  10.729589   9.676270   8.895860   9.705665  3.200860
997  10.858051   7.460364   9.555588  10.194337  5.217315
998  10.999640  10.645792   8.202918  10.021991  4.997824
999   8.776768   9.322671  10.627422   7.562933  4.426865

[1000 rows x 5 columns]

#### **Exercise 2**

Write a kernel to compute the [bearing formula](https://www.movable-type.co.uk/scripts/latlong.html):

$$\operatorname{atan2}(\sin(\lambda_2-\lambda_1)\cos(\varphi_2), \cos(\varphi_1)\sin(\varphi_2)-\sin(\varphi_1)\cos(\varphi_2)\cos(\lambda_2-\lambda_1))$$
       
where again $\varphi_1,\varphi_2$ are the latitudes and $\lambda_1,\lambda_2$ are the longitudes.

In [0]:
def bearing_distance_kernel(lat1, lon1, lat2, lon2, out_bearing):
    """Haversine distance formula taken from Michael Dunn's StackOverflow post:
    https://stackoverflow.com/questions/4913349/haversine-formula-in-python-bearing-and-distance-between-two-gps-points
    """
    for i, (x_1, y_1, x_2, y_2) in enumerate(zip(lat1, lon1, lat2, lon2)):
        print('thread id:', cuda.threadIdx.x, 
              'block id:', cuda.blockIdx.x,
              'array size:', lat1.size, 
              'block threads:', cuda.blockDim.x)

        x_1 = pi/180 * x_1       # lat1
        y_1 = pi/180 * y_1       # lon1
        x_2 = pi/180 * x_2       # lat2
        y_2 = pi/180 * y_2       # lon2
        
        dlon = y_2 - y_1
        a = atan2(sin(dlon)*cos(x_2), cos(x_1)*sin(x_1) - sin(x_1)*cos(x_2)*cos(dlon))
        # Convert radians [-π, π] to degrees [0°, 360°]
        out_bearing[i] = (180/pi*a + 180) % 360

In [81]:
%%time
df_bearing = df.apply_rows(bearing_distance_kernel,
                              incols=['lat1', 'lon1', 'lat2', 'lon2'],
                              outcols=dict(out_bearing=np.float64),
                              kwargs=dict())

CPU times: user 460 ms, sys: 5.45 ms, total: 465 ms
Wall time: 466 ms

In [82]:
df_bearing

          lat1       lon1       lat2       lon2  out_bearing
0    10.472986  11.889149  10.173869   9.557545    89.968614
1     9.318574  11.733839  10.237408  10.941703    91.920647
2    10.242439   9.969706   8.158692   8.084421    88.349005
3     8.299264  10.284300  10.376267   9.831747    96.268269
4    10.753143  11.003471   9.416267  12.702623   271.334314
..         ...        ...        ...        ...          ...
995  10.398274   9.096494   9.657189  10.559591   270.793185
996  10.729589   9.676270   8.895860   9.705665   333.473395
997  10.858051   7.460364   9.555588  10.194337   270.666711
998  10.999640  10.645792   8.202918  10.021991    81.856047
999   8.776768   9.322671  10.627422   7.562933    91.710428

[1000 rows x 5 columns]

## **apply_chunks**

In the section above, the data was generally split into single-element chunks. `apply_chunks` is a more general version of `apply_rows` that gives us control over how the data is chunked on the GPU. We can specify how to divide the long array, map each of the array chunks to different GPU blocks to process (using the `chunks` argument) and assign the number of threads per block (using the `tpb` argument).

Applying kernels with `apply_chunks` is very similar to applying kernels with `apply_rows`. Except, when we call `apply_chunks`, we must also provide:
- The chunk size `chunks` as an integer or `cudf.Series` of integer offsets
- The number of threads per block, `tpb`. Note that `tpb` can be omitted, but in that case, it defaults to `1` thread per block, which is very inefficient. We recommend always setting this argument.

The kernel is executed by each thread, with full access to all the elements in that chunk of the array. In this example below, with `chunks=16`, cuDF tries to uniformly cut the 1000 elements into chunks of size 16 spread across multiple blocks. Eight threads per block process the subarray of size 16, since we set `tpb=8`.

In [47]:
df.head(3)

        lat1       lon1       lat2       lon2
0  10.472986  11.889149  10.173869   9.557545
1   9.318574  11.733839  10.237408  10.941703
2  10.242439   9.969706   8.158692   8.084421

In [0]:
# This is the exact same kernel as above. 
def haversine_distance_kernel(lat1, lon1, lat2, lon2, out):
    """Haversine distance formula taken from Michael Dunn's StackOverflow post:
    https://stackoverflow.com/questions/4913349/haversine-formula-in-python-bearing-and-distance-between-two-gps-points
    """
    for i, (x_1, y_1, x_2, y_2) in enumerate(zip(lat1, lon1, lat2, lon2)):
        print('thread_id:', cuda.threadIdx.x, 
              'bid:', cuda.blockIdx.x,
              'array size:', lat1.size, 
              'block threads:', cuda.blockDim.x)

        x_1 = pi/180 * x_1
        y_1 = pi/180 * y_1
        x_2 = pi/180 * x_2
        y_2 = pi/180 * y_2
        
        dlon = y_2 - y_1
        dlat = x_2 - x_1
        a = sin(dlat/2)**2 + cos(x_1) * cos(x_2) * sin(dlon/2)**2
        
        c = 2 * asin(sqrt(a)) 
        r = 6371 # Radius of earth in kilometers
        
        out[i] = c * r

In [85]:
%%time
df_hd_chunks = df.apply_chunks(haversine_distance_kernel,
                               incols=['lat1', 'lon1', 'lat2', 'lon2'],
                               outcols=dict(out=np.float64),
                               kwargs=dict(),
                               chunks=16,
                               tpb=8)

CPU times: user 19.6 ms, sys: 938 µs, total: 20.6 ms
Wall time: 33.5 ms

In [86]:
df_hd_chunks

          lat1       lon1       lat2       lon2         out
0    10.472986  11.889149  10.173869   9.557545  257.224127
1     9.318574  11.733839  10.237408  10.941703  134.063596
2    10.242439   9.969706   8.158692   8.084421  310.650417
3     8.299264  10.284300  10.376267   9.831747  236.229152
4    10.753143  11.003471   9.416267  12.702623  238.115297
..         ...        ...        ...        ...         ...
995  10.398274   9.096494   9.657189  10.559591  180.153664
996  10.729589   9.676270   8.895860   9.705665  203.926802
997  10.858051   7.460364   9.555588  10.194337  332.395161
998  10.999640  10.645792   8.202918  10.021991  318.411387
999   8.776768   9.322671  10.627422   7.562933  282.035554

[1000 rows x 5 columns]

#### **Exercise**

Use your bearing formula function from Exercise 2 with `apply_chunks` instead of `apply_rows`

In [0]:
def bearing_distance_kernel(lat1, lon1, lat2, lon2, out_bearing):
    """Haversine distance formula taken from Michael Dunn's StackOverflow post:
    https://stackoverflow.com/questions/4913349/haversine-formula-in-python-bearing-and-distance-between-two-gps-points
    """
    for i, (x_1, y_1, x_2, y_2) in enumerate(zip(lat1, lon1, lat2, lon2)):
        print('thread id:', cuda.threadIdx.x, 
              'block id:', cuda.blockIdx.x,
              'array size:', lat1.size, 
              'block threads:', cuda.blockDim.x)

        x_1 = pi/180 * x_1       # lat1
        y_1 = pi/180 * y_1       # lon1
        x_2 = pi/180 * x_2       # lat2
        y_2 = pi/180 * y_2       # lon2
        
        dlon = y_2 - y_1
        a = atan2(sin(dlon)*cos(x_2), cos(x_1)*sin(x_1) - sin(x_1)*cos(x_2)*cos(dlon))
        # Convert radians [-π, π] to degrees [0°, 360°]
        out_bearing[i] = (180/pi*a + 180) % 360

In [89]:
%%time
df_bearing_chunks = df.apply_chunks(bearing_distance_kernel,
                                    incols=['lat1', 'lon1', 'lat2', 'lon2'],
                                    outcols=dict(out_bearing=np.float64),
                                    kwargs=dict(),
                                    chunks=16,
                                    tpb=8)

CPU times: user 646 ms, sys: 5.32 ms, total: 651 ms
Wall time: 771 ms

In [73]:
df_bearing_chunks.head(3)

        lat1       lon1       lat2       lon2  out_bearing
0  10.472986  11.889149  10.173869   9.557545    89.968614
1   9.318574  11.733839  10.237408  10.941703    91.920647
2  10.242439   9.969706   8.158692   8.084421    88.349005

## **apply_grouped**    - **Advanced apply: groupby + UDFs**

In this section, we'll walk through how we can apply UDFs to a grouped DataFrame, and why you might want to do this in the first place.

In the financial services industry, data scientists often need to compute features from time series data. One of the most popular ways to process time series data is to compute a moving average, as if you were sliding a window across your array. With the skills we've learned so far, you could create a custom UDF to do exactly that! You could define the function, pass it into `apply_rows` or `apply_chunks`, and get the moving average results.

But, often, our DataFrame will contain *multiple* time series that we want to process logically separately (such the time series of prices for different stocks). In the introductory notebook, we learned about the `groupby` concept in cuDF that helps us define separate groups and process them separately.

In the following example, we’ll show how to combine these two concepts (groupbys and UDFs) to calculate moving averages within each separate group.

First, we'll create a random 15 row DataFrame with one categorical feature and one random integer valued feature.

In [0]:
df = cudf.DataFrame({"stock": [1] * 5 + [2] * 5 + [3] * 5,
                     "price": [np.random.randint(0, 100) for _ in range(15)],
                    })

In [96]:
df

    stock  price
0       1     36
1       1     76
2       1     70
3       1     33
4       1     18
5       2     40
6       2     15
7       2     11
8       2     28
9       2     63
10      3     45
11      3     13
12      3     46
13      3     91
14      3     43

In [97]:
df.dtypes

stock    int64
price    int64
dtype: object

In [98]:
df.groupby('stock').mean()

       price
stock
1       46.6
2       31.4
3       47.6

In [100]:
grouped_df = df.groupby("stock", method="cudf")

/usr/local/lib/python3.6/site-packages/cudf/core/dataframe.py:2559: UserWarning: as_index==True not supported due to the lack of multi-index with legacy groupby function. Use hash method for multi-index
  "as_index==True not supported due to the lack of "

In [103]:
grouped_df

In [0]:
def rolling_avg(price, avg):
    window_size = 3
    for i in range(cuda.threadIdx.x, len(price), cuda.blockDim.x):
        if i < window_size - 1:
            # If there is not enough data to fill the window,
            # take the average to be NaN
            avg[i] = np.nan
        else:
            total = 0
            for j in range(i - window_size + 1, i + 1):
                total += price[j]
            avg[i] = total / window_size

With our `rolling_avg` function defined, we can pass it to the `apply_grouped` method for grouped DataFrames and compute the moving average within each group.

Currently, the function argument that corresponds to the column you're taking the average of (`price`) must match the name of your column. As a result, we name that argument `price`.

In [110]:
start = time.time()
# Compute moving avgs on all groups
results = grouped_df.apply_grouped(rolling_avg,
                                   incols=['price'],
                                   outcols=dict(avg=np.float64))

end = time.time()
print('cuDF time', end-start)

cuDF time 0.3582139015197754

In [112]:
print(results)

    stock  price        avg
0       1     36        NaN
1       1     76        NaN
2       1     70  60.666667
3       1     33  59.666667
4       1     18  40.333333
5       2     40        NaN
6       2     15        NaN
7       2     11  22.000000
8       2     28  18.000000
9       2     63  34.000000
10      3     45        NaN
11      3     13        NaN
12      3     46  34.666667
13      3     91  50.000000
14      3     43  60.000000

Notice that the value for `avg` at beginning of each group is null. This makes sense, since we can't have an average value for a sliding window of size `3` until we have at least three values. We used the line `avg[i] = np.nan` in our `rolling_avg` function to geneate this result in the output.

#### Simple try

In [121]:
df

    stock  price
0       1     36
1       1     76
2       1     70
3       1     33
4       1     18
5       2     40
6       2     15
7       2     11
8       2     28
9       2     63
10      3     45
11      3     13
12      3     46
13      3     91
14      3     43

In [0]:
def double_price(price, double_value):
    for i, x1 in enumerate(price):
        print('thread_id:', cuda.threadIdx.x, 
              'bid:', cuda.blockIdx.x,
              'array size:', price.size, 
              'block threads:', cuda.blockDim.x)
        
        double_value[i] = x1 * 2

In [0]:
df_double = df.apply_rows(double_price,
                          incols=['price'],
                          outcols=dict(double_value=np.int32),
                          kwargs=dict())

In [157]:
df_double[:3]

   stock  price  double_value
0      1     36            72
1      1     76           152
2      1     70           140