In [1]:
!wget -nc https://github.com/rapidsai/notebooks-extended/raw/master/utils/rapids-colab.sh
!bash rapids-colab.sh

import sys, os

sys.path.append('/usr/local/lib/python3.6/site-packages/')
os.environ['NUMBAPRO_NVVM'] = '/usr/local/cuda/nvvm/lib64/libnvvm.so'
os.environ['NUMBAPRO_LIBDEVICE'] = '/usr/local/cuda/nvvm/libdevice/'

--2020-01-22 07:17:46--  https://github.com/rapidsai/notebooks-extended/raw/master/utils/rapids-colab.sh
Resolving github.com (github.com)... 192.30.253.113
Connecting to github.com (github.com)|192.30.253.113|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/rapidsai/notebooks-contrib/raw/master/utils/rapids-colab.sh [following]
--2020-01-22 07:17:46--  https://github.com/rapidsai/notebooks-contrib/raw/master/utils/rapids-colab.sh
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/rapidsai/notebooks-contrib/master/utils/rapids-colab.sh [following]
--2020-01-22 07:17:46--  https://raw.githubusercontent.com/rapidsai/notebooks-contrib/master/utils/rapids-colab.sh
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5287 (5.2K) [text/plain]
Saving to: ‘rapids-colab.sh’

rapids-colab.sh     100%[===================>]   5.16K  --.-KB/s    in 0s

2020-01-22 07:17:47 (96.7 MB/s) - ‘rapids-colab.sh’ saved [5287/5287]

PLEASE READ
********************************************************************************************************
Colab v0.11+ Migration Notice:

There has been a NECESSARY Colab script code change for VERSION 0.11+ that MAY REQUIRE an update how you install RAPIDS into Colab!
Not all Colab notebooks are updated (like personal Colabs) and while the script will install RAPIDS correctly,
a neccessary script to update pyarrow to v0.15.x to be compatible with RAPIDS v0.11+ may not run, and your RAPIDS instance
will BREAK

Please enter in the box your desired RAPIDS version (ex: '0.10' or '0.11', between 0.9 to 0.11, without the quotes) and hit Enter.
0.10
You may not have to change anything.  All versions of our script should work with this version of Colab
--2020-01-22 07:17:56--  https://github.com/rapidsai/notebooks-contrib/raw/master/utils/env-check.py
Resolving github.com (github.com)... 192.30.253.113
Connecting to github.com (github.com)|192.30.253.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/rapidsai/notebooks-contrib/master/utils/env-check.py [following]
--2020-01-22 07:17:56--  https://raw.githubusercontent.com/rapidsai/notebooks-contrib/master/utils/env-check.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 918 [text/plain]
Saving to: ‘env-check.py’

env-check.py        100%[===================>]     918  --.-KB/s    in 0s

2020-01-22 07:17:56 (227 MB/s) - ‘env-check.py’ saved [918/918]

Checking for GPU type:
***********************************************************************
Woo! Your instance has the right kind of GPU, a 'Tesla T4'!
***********************************************************************

Removing conflicting packages, will replace with RAPIDS compatible versions
Uninstalling xgboost-0.90:
  Successfully uninstalled xgboost-0.90
Uninstalling dask-2.9.1:
  Successfully uninstalled dask-2.9.1
Uninstalling distributed-1.25.3:
  Successfully uninstalled distributed-1.25.3
Installing conda
--2020-01-22 07:18:06--  https://repo.continuum.io/miniconda/Miniconda3-4.5.4-Linux-x86_64.sh
Resolving repo.continuum.io (repo.continuum.io)... 104.18.201.79, 104.18.200.79, 2606:4700::6812:c94f, ...
Connecting to repo.continuum.io (repo.continuum.io)|104.18.201.79|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 58468498 (56M) [application/x-sh]
Saving to: ‘Miniconda3-4.5.4-Linux-x86_64.sh’

Miniconda3-4.5.4-Li 100%[===================>]  55.76M  99.3MB/s    in 0.6s

2020-01-22 07:18:07 (99.3 MB/s) - ‘Miniconda3-4.5.4-Linux-x86_64.sh’ saved [58468498/58468498]

PREFIX=/usr/local
installing: python-3.6.5-hc3d631a_2 ...
Python 3.6.5 :: Anaconda, Inc.
installing: ca-certificates-2018.03.07-0 ...
installing: conda-env-2.6.0-h36134e3_1 ...
installing: libgcc-ng-7.2.0-hdf63c60_3 ...
installing: libstdcxx-ng-7.2.0-hdf63c60_3 ...
installing: libffi-3.2.1-hd88cf55_4 ...
installing: ncurses-6.1-hf484d3e_0 ...
installing: openssl-1.0.2o-h20670df_0 ...
installing: tk-8.6.7-hc745277_3 ...
installing: xz-5.2.4-h14c3975_4 ...
installing: yaml-0.1.7-had09818_2 ...
installing: zlib-1.2.11-ha838bed_2 ...
installing: libedit-3.1.20170329-h6b74fdf_2 ...
installing: readline-7.0-ha6073c6_4 ...
installing: sqlite-3.23.1-he433501_0 ...
installing: asn1crypto-0.24.0-py36_0 ...
installing: certifi-2018.4.16-py36_0 ...
installing: chardet-3.0.4-py36h0f667ec_1 ...
installing: idna-2.6-py36h82fb2a8_1 ...
installing: pycosat-0.6.3-py36h0a5515d_0 ...
installing: pycparser-2.18-py36hf9f622e_1 ...
installing: pysocks-1.6.8-py36_0 ...
installing: ruamel_yaml-0.15.37-py36h14c3975_2 ...
installing: six-1.11.0-py36h372c433_1 ...
installing: cffi-1.11.5-py36h9745a5d_0 ...
installing: setuptools-39.2.0-py36_0 ...
installing: cryptography-2.2.2-py36h14c3975_0 ...
installing: wheel-0.31.1-py36_0 ...
installing: pip-10.0.1-py36_0 ...
installing: pyopenssl-18.0.0-py36_0 ...
installing: urllib3-1.22-py36hbe7ace6_0 ...
installing: requests-2.18.4-py36he2e5f8d_1 ...
installing: conda-4.5.4-py36_0 ...
installation finished.
WARNING:
    You currently have a PYTHONPATH environment variable set. This may cause
    unexpected behavior when running the Python interpreter in Miniconda3.
    For best results, please verify that your PYTHONPATH only points to
    directories of packages that are compatible with the Python interpreter
    in Miniconda3: /usr/local
Installing RAPIDS 0.10 packages from the stable release channel
Please standby, this will take a few minutes...
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.4
  latest version: 4.8.1

Please update conda by running

    $ conda update -n base conda



## Package Plan ##

  environment location: /usr/local

  added / updated specs:
    - cudatoolkit=10.1
    - cudf=0.10
    - cugraph
    - cuml
    - cuspatial
    - gcsfs
    - pynvml
    - python=3.6


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    openssl-1.1.1d             |       h516909a_0         2.1 MB  conda-forge
    grpc-cpp-1.25.0            |       h18db393_0         5.1 MB  conda-forge
    fastavro-0.22.9            |   py36h516909a_0         409 KB  conda-forge
    cython-0.29.14             |   py36he1b5a44_0         2.2 MB  conda-forge
    pytz-2019.3                |             py_0         237 KB  conda-forge
    cuml-0.10.0                |  cuda10.1_py36_0         6.6 MB  rapidsai
    tk-8.6.10                  |       hed695b0_0         3.2 MB  conda-forge
    re2-2020.01.01             |       he1b5a44_0         422 KB  conda-forge
    libgcc-ng-9.2.0            |       h24d8f2e_2         8.2 MB  conda-forge
    libevent-2.1.10            |       h72c5cf5_0         1.3 MB  conda-forge
    blinker-1.4                |             py_1          13 KB  conda-forge
    double-conversion-3.1.5    |       he1b5a44_2          85 KB  conda-forge
    libcblas-3.8.0             |      14_openblas          10 KB  conda-forge
    sqlite-3.30.1              |       hcee41ef_0         2.0 MB  conda-forge
    bzip2-1.0.8                |       h516909a_2         396 KB  conda-forge
    libcuspatial-0.10.0        |       cuda10.1_0         1.6 MB  rapidsai
    cugraph-0.10.0             |           py36_0         1.7 MB  rapidsai
    libnvstrings-0.10.0        |       cuda10.1_0        25.1 MB  rapidsai
    wheel-0.33.6               |           py36_0          35 KB  conda-forge
    _openmp_mutex-4.5          |            0_gnu         435 KB  conda-forge
    brotli-1.0.7               |    he1b5a44_1000         1.0 MB  conda-forge
    google-auth-1.10.0         |             py_1          47 KB  conda-forge
    libllvm8-8.0.1             |       hc9558a2_0        23.2 MB  conda-forge
    urllib3-1.25.7             |           py36_0         160 KB  conda-forge
    pandas-0.24.2              |   py36hb3f55d8_1        11.1 MB  conda-forge
    liblapack-3.8.0            |      14_openblas          10 KB  conda-forge
    chardet-3.0.4              |        py36_1003         190 KB  conda-forge
    six-1.14.0                 |           py36_0          23 KB  conda-forge
    libstdcxx-ng-9.2.0         |       hdf63c60_2         4.5 MB  conda-forge
    libcuml-0.10.0             |       cuda10.1_0        40.6 MB  rapidsai
    python-3.6.7               |    h357f687_1006        34.6 MB  conda-forge
    llvmlite-0.31.0            |   py36h8b12597_0         337 KB  conda-forge
    thrift-cpp-0.12.0          |    hf3afdfd_1004         2.4 MB  conda-forge
    decorator-4.4.1            |             py_0          11 KB  conda-forge
    numpy-1.17.5               |   py36h95a1406_0         5.2 MB  conda-forge
    cffi-1.13.2                |   py36h8022711_0         220 KB  conda-forge
    pynvml-8.0.4               |             py_0          31 KB  conda-forge
    pysocks-1.7.1              |           py36_0          27 KB  conda-forge
    uriparser-0.9.3            |       he1b5a44_1          49 KB  conda-forge
    libblas-3.8.0              |      14_openblas          10 KB  conda-forge
    _libgcc_mutex-0.1          |      conda_forge           3 KB  conda-forge
    lz4-c-1.8.3                |    he1b5a44_1001         187 KB  conda-forge
    numba-0.47.0               |   py36hb3f55d8_0         3.4 MB  conda-forge
    libcudf-0.10.0             |       cuda10.1_0        32.3 MB  rapidsai
    python-dateutil-2.8.1      |             py_0         220 KB  conda-forge
    oauthlib-3.0.1             |             py_0          82 KB  conda-forge
    cudatoolkit-10.1.243       |       h6bb024c_0       513.2 MB  nvidia
    cryptography-2.8           |   py36h72c5cf5_1         616 KB  conda-forge
    cuspatial-0.10.0           |           py36_0         456 KB  rapidsai
    icu-64.2                   |       he1b5a44_1        12.6 MB  conda-forge
    pip-19.3.1                 |           py36_0         1.9 MB  conda-forge
    xz-5.2.4                   |    h14c3975_1001         366 KB  conda-forge
    libprotobuf-3.8.0          |       h8b12597_0         4.7 MB  conda-forge
    c-ares-1.15.0              |    h516909a_1001         100 KB  conda-forge
    dlpack-0.2                 |       he1b5a44_1          13 KB  conda-forge
    zstd-1.4.0                 |       h3b9ef0a_0         928 KB  conda-forge
    libopenblas-0.3.7          |       h5ec1e0e_6         7.6 MB  conda-forge
    cudf-0.10.0                |           py36_0         7.2 MB  rapidsai
    readline-8.0               |       hf8c457e_0         441 KB  conda-forge
    pyasn1-modules-0.2.7       |             py_0          60 KB  conda-forge
    boost-cpp-1.70.0           |       h8e57a91_2        21.1 MB  conda-forge
    setuptools-45.1.0          |           py36_0         642 KB  conda-forge
    pyarrow-0.14.1             |   py36h8b68381_2         2.8 MB  conda-forge
    libcugraph-0.10.0          |       cuda10.1_0        16.1 MB  rapidsai
    pycparser-2.19             |           py36_1         173 KB  conda-forge
    requests-oauthlib-1.2.0    |             py_0          19 KB  conda-forge
    libgfortran-ng-7.3.0       |       hdf63c60_4         1.7 MB  conda-forge
    google-auth-oauthlib-0.4.1 |             py_1          18 KB  conda-forge
    cachetools-3.1.1           |             py_0          11 KB  conda-forge
    ncurses-6.1                |    hf484d3e_1002         1.3 MB  conda-forge
    ca-certificates-2019.11.28 |       hecc5488_0         145 KB  conda-forge
    rsa-4.0                    |             py_0          27 KB  conda-forge
    libcumlprims-0.10.0        |       cuda10.1_0         4.2 MB  nvidia
    pyjwt-1.7.1                |             py_0          17 KB  conda-forge
    pyasn1-0.4.8               |             py_0          53 KB  conda-forge
    arrow-cpp-0.14.1           |   py36h6b969ab_1        17.3 MB  conda-forge
    nvstrings-0.10.0           |           py36_0         126 KB  rapidsai
    pyopenssl-19.1.0           |           py36_0          83 KB  conda-forge
    gflags-2.2.2               |    he1b5a44_1002         175 KB  conda-forge
    snappy-1.1.7               |    he1b5a44_1003          39 KB  conda-forge
    glog-0.4.0                 |       he1b5a44_1         104 KB  conda-forge
    requests-2.22.0            |           py36_1          84 KB  conda-forge
    zlib-1.2.11                |    h516909a_1006         105 KB  conda-forge
    fsspec-0.6.2               |             py_0          46 KB  conda-forge
    libgomp-9.2.0              |       h24d8f2e_2         816 KB  conda-forge
    parquet-cpp-1.5.1          |                2           3 KB  conda-forge
    librmm-0.10.0              |       cuda10.1_0          50 KB  rapidsai
    certifi-2019.11.28         |           py36_0         149 KB  conda-forge
    gcsfs-0.6.0                |             py_0          19 KB  conda-forge
    libffi-3.2.1               |    he1b5a44_1006          46 KB  conda-forge
    idna-2.8                   |        py36_1000         132 KB  conda-forge
    nccl-2.4.6.1               |       cuda10.1_0        66.9 MB  nvidia
    rmm-0.10.0                 |           py36_0         135 KB  rapidsai
    ------------------------------------------------------------
                                           Total:       905.6 MB

The following NEW packages will be INSTALLED:

    _libgcc_mutex:        0.1-conda_forge        conda-forge
    _openmp_mutex:        4.5-0_gnu              conda-forge
    arrow-cpp:            0.14.1-py36h6b969ab_1  conda-forge
    blinker:              1.4-py_1               conda-forge
    boost-cpp:            1.70.0-h8e57a91_2      conda-forge
    brotli:               1.0.7-he1b5a44_1000    conda-forge
    bzip2:                1.0.8-h516909a_2       conda-forge
    c-ares:               1.15.0-h516909a_1001   conda-forge
    cachetools:           3.1.1-py_0             conda-forge
    cudatoolkit:          10.1.243-h6bb024c_0    nvidia
    cudf:                 0.10.0-py36_0          rapidsai
    cugraph:              0.10.0-py36_0          rapidsai
    cuml:                 0.10.0-cuda10.1_py36_0 rapidsai
    cuspatial:            0.10.0-py36_0          rapidsai
    cython:               0.29.14-py36he1b5a44_0 conda-forge
    decorator:            4.4.1-py_0             conda-forge
    dlpack:               0.2-he1b5a44_1         conda-forge
    double-conversion:    3.1.5-he1b5a44_2       conda-forge
    fastavro:             0.22.9-py36h516909a_0  conda-forge
    fsspec:               0.6.2-py_0             conda-forge
    gcsfs:                0.6.0-py_0             conda-forge
    gflags:               2.2.2-he1b5a44_1002    conda-forge
    glog:                 0.4.0-he1b5a44_1       conda-forge
    google-auth:          1.10.0-py_1            conda-forge
    google-auth-oauthlib: 0.4.1-py_1             conda-forge
    grpc-cpp:             1.25.0-h18db393_0      conda-forge
    icu:                  64.2-he1b5a44_1        conda-forge
    libblas:              3.8.0-14_openblas      conda-forge
    libcblas:             3.8.0-14_openblas      conda-forge
    libcudf:              0.10.0-cuda10.1_0      rapidsai
    libcugraph:           0.10.0-cuda10.1_0      rapidsai
    libcuml:              0.10.0-cuda10.1_0      rapidsai
    libcumlprims:         0.10.0-cuda10.1_0      nvidia
    libcuspatial:         0.10.0-cuda10.1_0      rapidsai
    libevent:             2.1.10-h72c5cf5_0      conda-forge
    libgfortran-ng:       7.3.0-hdf63c60_4       conda-forge
    libgomp:              9.2.0-h24d8f2e_2       conda-forge
    liblapack:            3.8.0-14_openblas      conda-forge
    libllvm8:             8.0.1-hc9558a2_0       conda-forge
    libnvstrings:         0.10.0-cuda10.1_0      rapidsai
    libopenblas:          0.3.7-h5ec1e0e_6       conda-forge
    libprotobuf:          3.8.0-h8b12597_0       conda-forge
    librmm:               0.10.0-cuda10.1_0      rapidsai
    llvmlite:             0.31.0-py36h8b12597_0  conda-forge
    lz4-c:                1.8.3-he1b5a44_1001    conda-forge
    nccl:                 2.4.6.1-cuda10.1_0     nvidia
    numba:                0.47.0-py36hb3f55d8_0  conda-forge
    numpy:                1.17.5-py36h95a1406_0  conda-forge
    nvstrings:            0.10.0-py36_0          rapidsai
    oauthlib:             3.0.1-py_0             conda-forge
    pandas:               0.24.2-py36hb3f55d8_1  conda-forge
    parquet-cpp:          1.5.1-2                conda-forge
    pyarrow:              0.14.1-py36h8b68381_2  conda-forge
    pyasn1:               0.4.8-py_0             conda-forge
    pyasn1-modules:       0.2.7-py_0             conda-forge
    pyjwt:                1.7.1-py_0             conda-forge
    pynvml:               8.0.4-py_0             conda-forge
    python-dateutil:      2.8.1-py_0             conda-forge
    pytz:                 2019.3-py_0            conda-forge
    re2:                  2020.01.01-he1b5a44_0  conda-forge
    requests-oauthlib:    1.2.0-py_0             conda-forge
    rmm:                  0.10.0-py36_0          rapidsai
    rsa:                  4.0-py_0               conda-forge
    snappy:               1.1.7-he1b5a44_1003    conda-forge
    thrift-cpp:           0.12.0-hf3afdfd_1004   conda-forge
    uriparser:            0.9.3-he1b5a44_1       conda-forge
    zstd:                 1.4.0-h3b9ef0a_0       conda-forge

The following packages will be UPDATED:

    ca-certificates:      2018.03.07-0                       --> 2019.11.28-hecc5488_0 conda-forge
    certifi:              2018.4.16-py36_0                   --> 2019.11.28-py36_0     conda-forge
    cffi:                 1.11.5-py36h9745a5d_0              --> 1.13.2-py36h8022711_0 conda-forge
    chardet:              3.0.4-py36h0f667ec_1               --> 3.0.4-py36_1003       conda-forge
    cryptography:         2.2.2-py36h14c3975_0               --> 2.8-py36h72c5cf5_1    conda-forge
    idna:                 2.6-py36h82fb2a8_1                 --> 2.8-py36_1000         conda-forge
    libffi:               3.2.1-hd88cf55_4                   --> 3.2.1-he1b5a44_1006   conda-forge
    libgcc-ng:            7.2.0-hdf63c60_3                   --> 9.2.0-h24d8f2e_2      conda-forge
    libstdcxx-ng:         7.2.0-hdf63c60_3                   --> 9.2.0-hdf63c60_2      conda-forge
    ncurses:              6.1-hf484d3e_0                     --> 6.1-hf484d3e_1002     conda-forge
    openssl:              1.0.2o-h20670df_0                  --> 1.1.1d-h516909a_0     conda-forge
    pip:                  10.0.1-py36_0                      --> 19.3.1-py36_0         conda-forge
    pycparser:            2.18-py36hf9f622e_1                --> 2.19-py36_1           conda-forge
    pyopenssl:            18.0.0-py36_0                      --> 19.1.0-py36_0         conda-forge
    pysocks:              1.6.8-py36_0                       --> 1.7.1-py36_0          conda-forge
    python:               3.6.5-hc3d631a_2                   --> 3.6.7-h357f687_1006   conda-forge
    readline:             7.0-ha6073c6_4                     --> 8.0-hf8c457e_0        conda-forge
    requests:             2.18.4-py36he2e5f8d_1              --> 2.22.0-py36_1         conda-forge
    setuptools:           39.2.0-py36_0                      --> 45.1.0-py36_0         conda-forge

# **cuDF**

In [ ]:
import os
import numpy as np
import pandas as pd
import math
np.random.seed(12)

In [4]:
print(f'Pandas Version: {pd.__version__}')

Pandas Version: 0.25.3

In [ ]:
df_pd = pd.DataFrame()

In [ ]:
df_pd['key'] = [0, 0, 2, 2, 3]

In [ ]:
df_pd['value'] = [float(i + 10) for i in range(5)]

In [8]:
df_pd

   key  value
0    0   10.0
1    0   11.0
2    2   12.0
3    2   13.0
4    3   14.0

In [ ]:
sum_df_pd = df_pd['value'].sum()

In [10]:
sum_df_pd

60.0

From now on we work on cuDF

In [ ]:
import cudf

In [12]:
print(f"cuDF Version: {cudf.__version__}")

cuDF Version: 0.10.0

In [ ]:
df_cu = cudf.DataFrame()

In [14]:
df_cu.shape

(0, 0)

In [ ]:
df_cu['key'] = [0, 0, 2, 2, 3]
df_cu['value'] = [float(i + 10) for i in range(5)]

In [16]:
df_cu

   key  value
0    0   10.0
1    0   11.0
2    2   12.0
3    2   13.0
4    3   14.0

In [17]:
df_cu.index.values

array([0, 1, 2, 3, 4])

In [18]:
df_cu.columns

Index(['key', 'value'], dtype='object')

In [19]:
df_cu['value'].sum()

60.0

## Series & DataFrame

creating Series

In [20]:
s = cudf.Series(1, 2, 3, None, 4)
print(s)

2    1
Name: 3, dtype: int64

In [21]:
type(s)

cudf.core.series.Series

creating from direct assingment or from list, array, dictionary etc.

In [ ]:
dict_obj = {'a': list(range(20)),
            'b': reversed(list(range(20))),
            'c': list(range(20)),
            }

In [ ]:
df = cudf.DataFrame(dict_obj)

In [24]:
df.head(3)

   a   b  c
0  0  19  0
1  1  18  1
2  2  17  2

creating from Pandas DataFrame

In [ ]:
pdf = pd.DataFrame({'a': [0, 1, 2, 3], 
                    'b': [0.1, 0.2, None, 0.3]})

In [26]:
pdf

   a    b
0  0  0.1
1  1  0.2
2  2  NaN
3  3  0.3

In [ ]:
gdf = cudf.DataFrame.from_pandas(pdf)

In [28]:
gdf

   a     b
0  0   0.1
1  1   0.2
2  2  null
3  3   0.3

## all analogous Pandas.DataFrame attributes & methods & index/slicing etc.

In [29]:
type(df)

cudf.core.dataframe.DataFrame

In [30]:
df

     a   b   c
0    0  19   0
1    1  18   1
2    2  17   2
3    3  16   3
4    4  15   4
5    5  14   5
6    6  13   6
7    7  12   7
8    8  11   8
9    9  10   9
10  10   9  10
11  11   8  11
12  12   7  12
13  13   6  13
14  14   5  14
15  15   4  15
16  16   3  16
17  17   2  17
18  18   1  18
19  19   0  19

In [31]:
df.sort_values(by = 'b')

     a   b   c
19  19   0  19
18  18   1  18
17  17   2  17
16  16   3  16
15  15   4  15
14  14   5  14
13  13   6  13
12  12   7  12
11  11   8  11
10  10   9  10
9    9  10   9
8    8  11   8
7    7  12   7
6    6  13   6
5    5  14   5
4    4  15   4
3    3  16   3
2    2  17   2
1    1  18   1
0    0  19   0

In [32]:
df.index.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [33]:
df.columns

Index(['a', 'b', 'c'], dtype='object')

In [34]:
df['b'][:3]

0    19
1    18
2    17
Name: b, dtype: int64

In [35]:
df.loc[2:5, ['b', 'c', 'a']]

    b  c  a
2  17  2  2
3  16  3  3
4  15  4  4
5  14  5  5

In [36]:
df.loc[[2, 4]]

   a   b  c
2  2  17  2
4  4  15  4

In [37]:
df.iloc[[2, 3]]

   a   b  c
2  2  17  2
3  3  16  3

In [38]:
df[3:5]

   a   b  c
3  3  16  3
4  4  15  4

In [39]:
df.loc[[4, 9]]

   a   b  c
4  4  15  4
9  9  10  9

In [40]:
df[df['b'] > 15]

   a   b  c
0  0  19  0
1  1  18  1
2  2  17  2
3  3  16  3

In [41]:
df[df['b'] == 3]

     a  b   c
16  16  3  16

In [42]:
df[(df['b'] == 3) | (df['b'] == 6)]

     a  b   c
13  13  6  13
16  16  3  16

In [43]:
val = 3
df.query("b == @val")

     a  b   c
16  16  3  16

In [44]:
df[df['b'] > (df['c'] + 6)]

   a   b  c
0  0  19  0
1  1  18  1
2  2  17  2
3  3  16  3
4  4  15  4
5  5  14  5
6  6  13  6

## missings

In [45]:
gdf

   a     b
0  0   0.1
1  1   0.2
2  2  null
3  3   0.3

In [48]:
gdf.fillna(999)

   a      b
0  0    0.1
1  1    0.2
2  2  999.0
3  3    0.3

## Statistics

In [ ]:
s = cudf.Series(np.arange(10).astype(np.float64))

In [69]:
s

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [70]:
s.mean(), s.var()

(4.5, 9.166666666666668)

In [71]:
df.describe()

              a         b         c
count  20.00000  20.00000  20.00000
mean    9.50000   9.50000   9.50000
std     5.91608   5.91608   5.91608
min     0.00000   0.00000   0.00000
25%     4.75000   4.75000   4.75000
50%     9.50000   9.50000   9.50000
75%    14.25000  14.25000  14.25000
max    19.00000  19.00000  19.00000

## applymap for Series, not working for DataFrame

In [72]:
s

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [ ]:
def add_10(num):
  return num + 10

In [74]:
s.applymap(add_10)

0    10.0
1    11.0
2    12.0
3    13.0
4    14.0
5    15.0
6    16.0
7    17.0
8    18.0
9    19.0
dtype: float64

## String Method

In [ ]:
s = cudf.Series(['A', 'B', 'C', 'Aaba', 'Baca', None, 'CABA', 'dog', 'cat'])

In [91]:
s

0       A
1       B
2       C
3    Aaba
4    Baca
5    None
6    CABA
7     dog
8     cat
dtype: object

In [92]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5    None
6    caba
7     dog
8     cat
dtype: object

In [94]:
s.str.title()

0       A
1       B
2       C
3    Aaba
4    Baca
5    None
6    Caba
7     Dog
8     Cat
dtype: object

## Concat

In [ ]:
s = cudf.Series([1, 2, 3, None, 5])

In [ ]:
s_double_vertical = cudf.concat([s, s])

In [99]:
s_double_vertical

0       1
1       2
2       3
3    null
4       5
0       1
1       2
2       3
3    null
4       5
dtype: int64

In [103]:
type(s_double_vertical)

cudf.core.series.Series

In [ ]:
s_double_horizontal = cudf.concat([s, s], axis =1)

In [102]:
s_double_horizontal

     -1     0
0     1     1
1     2     2
2     3     3
3  null  null
4     5     5

In [104]:
type(s_double_horizontal)

cudf.core.dataframe.DataFrame

## Append

In [105]:
print(s.append(s))

0       1
1       2
2       3
3    null
4       5
0       1
1       2
2       3
3    null
4       5
dtype: int64

## Join

In [ ]:
df_a = cudf.DataFrame()
df_a['key'] = ['a', 'b', 'c', 'd', 'e']
df_a['vals_a'] = [float(i + 10) for i in range(5)]

df_b = cudf.DataFrame()
df_b['key'] = ['a', 'c', 'e']
df_b['vals_b'] = [float(i+100) for i in range(3)]

In [107]:
df_a

  key  vals_a
0   a    10.0
1   b    11.0
2   c    12.0
3   d    13.0
4   e    14.0

In [108]:
df_b

  key  vals_b
0   a   100.0
1   c   101.0
2   e   102.0

In [109]:
merged = df_a.merge(df_b, on=['key'], how='inner')
print(merged)

  key  vals_a  vals_b
0   a    10.0   100.0
1   c    12.0   101.0
2   e    14.0   102.0

In [110]:
merged_left = df_a.merge(df_b, on=['key'], how='left')
print(merged_left)

  key  vals_a vals_b
0   a    10.0  100.0
1   c    12.0  101.0
2   e    14.0  102.0
3   b    11.0   null
4   d    13.0   null

## Grouping

In [113]:
df.head(3)

   a   b  c
0  0  19  0
1  1  18  1
2  2  17  2

In [112]:
len(df)

20

In [ ]:
df['agg_col1'] = [1 if i % 2 == 0 else 0 for i in range(len(df))]
df['agg_col2'] = [1 if i % 3 == 0 else 0 for i in range(len(df))]

In [116]:
df.head(3)

   a   b  c  agg_col1  agg_col2
0  0  19  0         1         1
1  1  18  1         0         0
2  2  17  2         1         0

In [117]:
df.groupby('agg_col1').sum()

            a    b    c  agg_col2
agg_col1
0         100   90  100         3
1          90  100   90         4

In [124]:
df.groupby('agg_col1').agg({'a': 'sum', 'b': 'mean', 'c': 'max'})

            a     b   c
agg_col1
0         100   9.0  19
1          90  10.0  18

In [125]:
df.groupby(['agg_col1', 'agg_col2']).agg({'a': 'mean', 'b': 'min'})

                           a  b
agg_col1 agg_col2
0        0         10.428571  0
         1          9.000000  4
1        0          9.000000  3
         1          9.000000  1

## Time-Series

In [134]:
date_df = cudf.DataFrame()
date_df['date'] = pd.date_range('12/11/2019', periods=72, freq='D')
date_df['value'] = np.random.sample(len(date_df))
print(date_df.head())

        date     value
0 2019-12-11  0.863752
1 2019-12-12  0.013863
2 2019-12-13  0.074093
3 2019-12-14  0.375916
4 2019-12-15  0.249364

In [135]:
date_df.shape

(72, 2)

In [131]:
date_df['date'].dtype

dtype('<M8[ns]')

In [139]:
date_df['date'].dt.year.unique()

0    2019
1    2020
Name: date, dtype: int16

In [ ]:
search_date = pd.to_datetime('2019-12-15')

In [163]:
search_date

Timestamp('2019-12-15 00:00:00')

In [164]:
date_df.query('date < @search_date')

        date     value
0 2019-12-11  0.863752
1 2019-12-12  0.013863
2 2019-12-13  0.074093
3 2019-12-14  0.375916

In [165]:
date_df.head(2)

        date     value
0 2019-12-11  0.863752
1 2019-12-12  0.013863

In [ ]:
date_df['month'] = date_df['date'].dt.month

In [174]:
date_df.head(2)

        date     value  minute  month
0 2019-12-11  0.863752       0     12
1 2019-12-12  0.013863       0     12

In [175]:
date_df.tail(2)

         date     value  minute  month
70 2020-02-19  0.480925       0      2
71 2020-02-20  0.756821       0      2

## Converting cuDF.DataFrame to Pandas.DataFrame

In [176]:
type(date_df)

cudf.core.dataframe.DataFrame

In [ ]:
date_pdf = date_df.head().to_pandas()

In [178]:
date_pdf

        date     value  minute  month
0 2019-12-11  0.863752       0     12
1 2019-12-12  0.013863       0     12
2 2019-12-13  0.074093       0     12
3 2019-12-14  0.375916       0     12
4 2019-12-15  0.249364       0     12

## Converting cuDF.DataFrame to np.ndarray | a cuDF.Series to np.ndarray

In [ ]:
# date_arr = date_df.as_matrix()                       # some issue due to datetime field

In [184]:
df.head(3)

   a   b  c  agg_col1  agg_col2
0  0  19  0         1         1
1  1  18  1         0         0
2  2  17  2         1         0

In [ ]:
df_arr = df.as_matrix()

In [186]:
df_arr

array([[ 0, 19,  0,  1,  1],
       [ 1, 18,  1,  0,  0],
       [ 2, 17,  2,  1,  0],
       [ 3, 16,  3,  0,  1],
       [ 4, 15,  4,  1,  0],
       [ 5, 14,  5,  0,  0],
       [ 6, 13,  6,  1,  1],
       [ 7, 12,  7,  0,  0],
       [ 8, 11,  8,  1,  0],
       [ 9, 10,  9,  0,  1],
       [10,  9, 10,  1,  0],
       [11,  8, 11,  0,  0],
       [12,  7, 12,  1,  1],
       [13,  6, 13,  0,  0],
       [14,  5, 14,  1,  0],
       [15,  4, 15,  0,  1],
       [16,  3, 16,  1,  0],
       [17,  2, 17,  0,  0],
       [18,  1, 18,  1,  1],
       [19,  0, 19,  0,  0]])

In [187]:
date_df.head(3)

        date     value  minute  month
0 2019-12-11  0.863752       0     12
1 2019-12-12  0.013863       0     12
2 2019-12-13  0.074093       0     12

In [ ]:
month_arr = date_df['month'].to_array()

In [189]:
month_arr

array([12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
       12, 12, 12, 12,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2], dtype=int16)

## In & Out

In [ ]:
df.to_pandas().to_csv('foo.csv', index=False)

read back

In [ ]:
csv_back = cudf.read_csv('foo.csv')

In [195]:
csv_back.head(2)

   a   b  c  agg_col1  agg_col2
0  0  19  0         1         1
1  1  18  1         0         0

In [196]:
type(csv_back)

cudf.core.dataframe.DataFrame

## Performance of cuDA vs Pandas

In [ ]:
a = np.random.rand(10_000_000)

In [ ]:
pdf = pd.DataFrame()
cdf = cudf.DataFrame()

In [200]:
%time pdf['a'] = a
%time cdf['a'] = a

CPU times: user 545 ms, sys: 225 ms, total: 769 ms
Wall time: 775 ms
CPU times: user 21 ms, sys: 0 ns, total: 21 ms
Wall time: 21.1 ms

In [201]:
%%timeit
pdf['a'].sum()

10 loops, best of 3: 48.4 ms per loop

In [202]:
%%timeit
cdf['a'].sum()

1000 loops, best of 3: 544 µs per loop

## A Realistic Example

To get a more realistic sense of how powerful cuDF and GPUs can be, let's imagine you had a fleet of sensors that collect data every millisecond. These sensors could be measuring pressure, temperature, or something else entirely.

Let's imagine we want to analyze one day's worth of sensor data. We'll assign random values for the sensor `value` to use for this example. We'll start by creating the data, and generating some datetime related features like we learned about in the aboves

You can start a cell with `%%time` to time the cell, or with `%%timeit`, which runs the cell multiple times and gives an average. `%%timeit` gives a more accurate benchmark but takes longer to run.

In [205]:
%%time

# creating data
date_df = pd.DataFrame()
date_df['date'] = pd.date_range(start='2020-01-23', end='2020-01-24', freq='ms')
date_df['value'] = np.random.sample(len(date_df))

date_df['hour'] = date_df.date.dt.hour
date_df['minute'] = date_df.date.dt.minute

print(date_df.shape)

(86400001, 4)
CPU times: user 20.1 s, sys: 1.89 s, total: 22 s
Wall time: 22 s

In [206]:
date_df.head(3)

                     date     value  hour  minute
0 2020-01-23 00:00:00.000  0.387646     0       0
1 2020-01-23 00:00:00.001  0.200427     0       0
2 2020-01-23 00:00:00.002  0.530535     0       0

In [207]:
%time 
results = date_df.groupby(['hour', 'minute']).agg({'value':'max'})
results.head()

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.01 µs

                value
hour minute
0    0       0.999985
     1       0.999990
     2       0.999964
     3       0.999994
     4       0.999982

now using gpu & cuDF

In [210]:
%%time

date_cdf = cudf.DataFrame()
date_cdf['date'] = pd.date_range(start='2019-07-05', end='2019-07-06', freq='ms')
date_cdf['value'] = np.random.sample(len(date_cdf))

date_cdf['hour'] = date_cdf.date.dt.hour
date_cdf['minute'] = date_cdf.date.dt.minute
date_cdf['second'] = date_cdf.date.dt.second

print(date_cdf.shape)

(86400001, 5)
CPU times: user 1.58 s, sys: 38.8 ms, total: 1.61 s
Wall time: 1.62 s

In [211]:
print(date_cdf.head())

                     date     value  hour  minute  second
0 2019-07-05 00:00:00.000  0.144546     0       0       0
1 2019-07-05 00:00:00.001  0.725456     0       0       0
2 2019-07-05 00:00:00.002  0.372234     0       0       0
3 2019-07-05 00:00:00.003  0.056032     0       0       0
4 2019-07-05 00:00:00.004  0.619107     0       0       0

In [212]:
%time 
results_cdf = date_cdf.groupby(['hour', 'minute', 'second']).agg({'value':'max'})
results_cdf.head()

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 4.29 µs

                       value
hour minute second
0    0      0       0.998936
            1       0.996985
            2       0.998953
            3       0.998449
            4       0.999713